.cart_panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
    z-index: 55;
}
.opac_layer{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
   

}
.cart_content{
    display: flex;
    width: 300px;
    height: 100%;
    background-color: white;
    flex-direction: column;
    z-index: 1;
    flex-direction: column;
    transform: translateX(100%);
    animation: slidecard 0.3s ease forwards;
     justify-content: space-between;
   /* flex-direction: row;
   justify-content: space-between;
   padding: 10px 20px; */
   text-align: center;
}
.card_header{
      /* display: flex; */
      align-items: center;
      justify-content: flex-end;
   flex-direction: row;
   /* padding: 20px 15px; */
   border: rgba(0, 0, 0, 0.5)

}
.heading_cart{
    font-size: 22px;
    /* color: black;
    font-weight: bold; */
}


.close_text{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

}
.card_header{
    display: flex;
    justify-content: space-between;
}
.empty_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}
.Bs_cart{
    font-size: 120px;
    opacity: 0.5;
}
.return_cart{
    background-color: #E11546;
    color: white;
    border: none;
    font-size: 18px;
    padding: 9px;
}
.cart_footer{

/* border: 1px solid rgba(0, 0, 0, 0.5); */

}
.subtotal{
    padding: 20px 15px;
   border-top:1px solid  #E11546 ;
   border-bottom:1px solid #E11546;
   
    display: flex;
    justify-content: space-between;
}
.text_subtotal{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;

}
.number_total{
    font-weight: 700;
    font-size: 20px;
    color: #E11546;
}
.checkput_cta{
    background-color: #E11546;
    color: white;
    border: none;
    width: 100%;
    margin-top: 5px;
    padding: 9px;
    font-size: 18px;
}

@keyframes slidecard {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}