.cat_image{
    width: 64px;
    height: 64px;
}
.cat_item_image{
    display: flex;
    justify-content:space-around;
    margin: 10px 0px;
    cursor: pointer;
    /* border: 1px solid red; */
    margin: 25px 50px;
    background-color: whitesmoke;

}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.subnavbtn{
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}
.drop_down_aroow{
    font-size: 30px;
    color: #E11546;
    background-color: whitesmoke;   
}
.drop_down_aroow:hover{
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-direction: normal
}
.drop_down{

    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.category_item_name_grocery{
width: auto;
height: auto;
/* position: absolute; */
z-index: 1;
display: flex;
flex-direction: column;

}
.grocery_list{
    margin-right: 10px;
    /* list-style-type: none; */
    margin-right: 2rem
}
.grocery_ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
}
.submenu{
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-around;
    margin: 25px 50px;
}
/* .diaplay_navigation{
    display: none;
} */


@media only screen and (max-width: 600px) {
    .cat_item_image{
        overflow-x: auto;
        margin: 15px 0px;
        /* margin: 0px auto; */
    }
    .cat_image
    {
        width: 50px;
        height: 50px;
    }
    .subnavbtn{
        font-size: 10px;
    }
    .drop_down_aroow{
    font-size: 15px;
    }
    
    
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    
}